#content{max-width: 960px;
    margin: 0 auto;}
  
  header {
  display: flex;
  background-color: #51E1DD;
  border-radius: 20px;
  margin: 5px auto;
  max-width: 1000px;
  align-content: left;
  justify-content: left;
  padding: 1.5rem;
  }
  
  .title{
  color: #0F0326;
  padding: 5px;
  text-align: center;
  font-family: "font-family: 'Dongle', sans-serif";
  font-size: 30px;
  }
  
  h1 {
  color: #1C2C11;
  padding: 5px;
  text-align: center;
  font-family: "font-family: 'Dongle', sans-serif";
  font-size: 30px;
  }
  
  h2 {
  color: #1C2C11;
  text-align: center ;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  }
  
  h3 {display: flex;  
  color: #1C2C11;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  border-radius: 10px;
  font-size: 25px;
  }
  
  #content {
  max-width: 375px;
  margin: 0 auto;
  text-align: center;
  }
  
  main {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    }
  
  a:link {
    text-decoration: none;
  }
  
  .title_p,
  a {
      font-family: fantasy;
      font-size: 15px;
      color: #1C2C11;
      padding: 1rem;  
    }

li:hover{
  background-color: #DAF2CE;
}

a:hover{
  color:#679E1A;
}
  
nav ul {
  display: flex;
  list-style: none; /*removes bullets! */
  text-align: justify;
  max-width: 340px; 
  font-family: fantasy;}

.h2{
  text-align: left;
}

p  {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
  }
 
footer {
    display: flex;
    background-color: #51E1DD;
    border-radius: 10px;
    font-size: 10px;
    font-family: 'Dongle', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    color: #1C2C11 ;
    padding: 1.5%;
    justify-content: center;  
  }


#contact{
  display: flex;
	flex-direction: column;
  
}
#contact p{
  margin: 0;
	padding-bottom: 1.5px;
}

.bar{
  font-size: 25px;
  border-top: 2px solid black; 
}

.navigation li:last-child {
	display: block;
}

.navigation li{
  display: none;
}

.responsive li {
	display: block;
}

/* CSS target audience */
.main_information{
  grid-template-columns: 1fr;
}

.audience{
  font-size: 40px;
  background-color:#81AFD9;
}

.target_audience{
  font-size: 25px;
  font-size: Verdana, Geneva, Tahoma, sans-serif;
}

.personas{
  font-size: 40px;
  background-color:#81AFD9;
}
.scenario{
  font-size: 40px;
  background-color:#81AFD9;
  padding: 1.5px;
}

.name_one{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name_two{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.information_one{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.information_two{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.questions{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5%;
}


